In [42]:
import seaborn as sns
import pandas as pd


# Load training and test data
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

# Separate target variable and features
y_train = train_data['SalePrice']
X_train = train_data.drop('SalePrice', axis=1)
y_test = test_data['SalePrice']
X_test = test_data.drop('SalePrice', axis=1)

print(train_data['OverallQual'].unique())
print(train_data['OverallCond'].unique())
print(train_data['YearBuilt'].unique())

print(test_data['OverallQual'].unique())
print(test_data['OverallCond'].unique())
print(test_data['YearBuilt'].unique())

titanic=pd.read_csv('train.csv')
titanic.head(10)

['7' '6' '8' '5' '9' 'Missing' '4' '10' '3' '1' '2']
['5' '8' '6' '7' '4' '2' '3' 'Missing' '9' '1']
['2003' '1976' '2001' '1915' '2000' '1993' '2004' '1973' '1931' '1939'
 '1965' '2005' '1962' '2006' '1960' 'Missing' '1970' '1967' '1958' '1930'
 '2002' '1968' '2007' '1951' '1957' '1927' '1920' '1966' '1959' '1994'
 '1954' '1953' '1955' '1983' '1975' '1934' '1963' '1981' '1964' '1999'
 '1972' '1921' '1997' '1945' '1982' '1998' '1956' '1948' '1910' '1995'
 '1991' '2009' '1950' '1961' '1977' '1985' '1979' '1885' '1919' '1990'
 '1969' '1935' '1988' '1971' '1952' '1936' '1923' '1924' '1984' '1926'
 '1940' '1941' '1987' '1986' '2008' '1908' '1892' '1916' '1932' '1918'
 '1912' '1947' '1925' '1900' '1980' '1929' '1989' '1992' '1949' '1880'
 '1928' '1978' '1922' '1996' '2010' '1946' '1913' '1937' '1942' '1938'
 '1974' '1893' '1914' '1906' '1890' '1898' '1904' '1882' '1875']
['6' '10' 'Missing' '7' '5' '8' '3' '4' '9']
['7' '5' '6' '8' 'Missing' '4' '9' '3']
['1935' '1995' '1977' '1958' '2006' '1946' '1932' '1992' '1984' '1926'
 '1921' '1954' '1990' '2008' '1996' '1920' 'Missing' '1924' '1900' '1994'
 '2002' '1999' '1961' '1925' '1969' '2005' '1916' '2001' '1963' '1970'
 '1998' '2000' '1975' '1966' '2003' '1962' '1988' '1941' '1965' '1978'
 '2009' '1947' '1971' '1964' '1968' '1949' '1951' '2004' '2007' '1960'
 '1959' '1911' '1914' '1974' '1929' '1976' '1917' '1950' '1931' '1922'
 '1956' '1957' '1919' '1910' '1979' '1948' '1972' '1967' '1939' '1955'
 '1942' '1991' '1940' '1982' '1938' '1973' '1928' '1872' '1937' '1930'
 '1918' '1905' '1915' '1985' '1986' '1923' '1885' '1945' '1927']

,ID,MSSubClass,LotArea,Street,HouseStyle,ExterQual,BldgType,LotConfig,OverallQual,OverallCond,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,Pave,2Story,Gd,1Fam,Inside,7,5,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,Pave,1Story,TA,1Fam,FR2,6,8,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,Pave,2Story,Gd,1Fam,Inside,7,5,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,9550,Pave,2Story,TA,1Fam,Corner,7,5,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,14260,Pave,2Story,Gd,1Fam,FR2,8,5,...,192,84,0,0,0,0,0,12,2008,250000
5,6,50,14115,Pave,1.5Fin,TA,1Fam,Inside,5,5,...,40,30,0,320,0,0,700,10,2009,143000
6,7,20,10084,Pave,1Story,Gd,1Fam,Inside,8,5,...,255,57,0,0,0,0,0,8,2007,307000
7,8,60,10382,Pave,2Story,TA,1Fam,Corner,7,6,...,235,204,228,0,0,0,350,11,2009,200000
8,9,50,6120,Pave,1.5Fin,TA,1Fam,Inside,7,5,...,90,0,205,0,0,0,0,4,2008,129900
9,10,190,7420,Pave,1.5Unf,TA,2fmCon,Corner,5,6,...,0,4,0,0,0,0,0,1,2008,118000

In [43]:
# Replace 'Missing' in 'YearBuilt' with its median
year_built_median = train_data['YearBuilt'][train_data['YearBuilt'] != 'Missing'].astype(int).median()
train_data['YearBuilt'].replace('Missing', str(year_built_median), inplace=True)
test_data['YearBuilt'].replace('Missing', str(year_built_median), inplace=True)


# Replace 'Missing' in 'OverallQual' with its mode
overall_qual_mode = train_data['OverallQual'][train_data['OverallQual'] != 'Missing'].mode()[0]
train_data['OverallQual'].replace('Missing', overall_qual_mode, inplace=True)
test_data['OverallQual'].replace('Missing', overall_qual_mode, inplace=True)


# Replace 'Missing' in 'OverallCond' with its mode
overall_cond_mode = train_data['OverallCond'][train_data['OverallCond'] != 'Missing'].mode()[0]
train_data['OverallCond'].replace('Missing', overall_cond_mode, inplace=True)
test_data['OverallCond'].replace('Missing', overall_cond_mode, inplace=True)


print(f"Replaced 'Missing' values in 'YearBuilt' with: {year_built_median}")
print(f"Replaced 'Missing' values in 'OverallQual' with: {overall_qual_mode}")
print(f"Replaced 'Missing' values in 'OverallCond' with: {overall_cond_mode}")


print(train_data['OverallQual'].unique())
print(train_data['OverallCond'].unique())
print(train_data['YearBuilt'].unique())

print(test_data['OverallQual'].unique())
print(test_data['OverallCond'].unique())
print(test_data['YearBuilt'].unique())

Replaced 'Missing' values in 'YearBuilt' with: 1973.0
Replaced 'Missing' values in 'OverallQual' with: 5
Replaced 'Missing' values in 'OverallCond' with: 5
['7' '6' '8' '5' '9' '4' '10' '3' '1' '2']
['5' '8' '6' '7' '4' '2' '3' '9' '1']
['2003' '1976' '2001' '1915' '2000' '1993' '2004' '1973' '1931' '1939'
 '1965' '2005' '1962' '2006' '1960' '1973.0' '1970' '1967' '1958' '1930'
 '2002' '1968' '2007' '1951' '1957' '1927' '1920' '1966' '1959' '1994'
 '1954' '1953' '1955' '1983' '1975' '1934' '1963' '1981' '1964' '1999'
 '1972' '1921' '1997' '1945' '1982' '1998' '1956' '1948' '1910' '1995'
 '1991' '2009' '1950' '1961' '1977' '1985' '1979' '1885' '1919' '1990'
 '1969' '1935' '1988' '1971' '1952' '1936' '1923' '1924' '1984' '1926'
 '1940' '1941' '1987' '1986' '2008' '1908' '1892' '1916' '1932' '1918'
 '1912' '1947' '1925' '1900' '1980' '1929' '1989' '1992' '1949' '1880'
 '1928' '1978' '1922' '1996' '2010' '1946' '1913' '1937' '1942' '1938'
 '1974' '1893' '1914' '1906' '1890' '1898' '1904' '1882' '1875']
['6' '10' '5' '7' '8' '3' '4' '9']
['7' '5' '6' '8' '4' '9' '3']
['1935' '1995' '1977' '1958' '2006' '1946' '1932' '1992' '1984' '1926'
 '1921' '1954' '1990' '2008' '1996' '1920' '1973.0' '1924' '1900' '1994'
 '2002' '1999' '1961' '1925' '1969' '2005' '1916' '2001' '1963' '1970'
 '1998' '2000' '1975' '1966' '2003' '1962' '1988' '1941' '1965' '1978'
 '2009' '1947' '1971' '1964' '1968' '1949' '1951' '2004' '2007' '1960'
 '1959' '1911' '1914' '1974' '1929' '1976' '1917' '1950' '1931' '1922'
 '1956' '1957' '1919' '1910' '1979' '1948' '1972' '1967' '1939' '1955'
 '1942' '1991' '1940' '1982' '1938' '1973' '1928' '1872' '1937' '1930'
 '1918' '1905' '1915' '1985' '1986' '1923' '1885' '1945' '1927']

In [44]:
from sklearn.preprocessing import OneHotEncoder

# Ensure data types are consistent
X_train = X_train.astype(str)
X_test = X_test.astype(str)

# Identify categorical features
categorical_features = X_train.select_dtypes(include=['object']).columns.tolist()

# Initialize OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)

# Fit the encoder using training data
encoder.fit(X_train[categorical_features])

# Encode training and test data
X_train_encoded = encoder.transform(X_train[categorical_features])
X_test_encoded = encoder.transform(X_test[categorical_features])

# Merge encoded data with original data
X_train = pd.concat([X_train.drop(categorical_features, axis=1), pd.DataFrame(X_train_encoded)], axis=1)
X_test = pd.concat([X_test.drop(categorical_features, axis=1), pd.DataFrame(X_test_encoded)], axis=1)

0       float64
1       float64
2       float64
3       float64
4       float64
         ...
7117    float64
7118    float64
7119    float64
7120    float64
7121    float64
Length: 7122, dtype: object
0       float64
1       float64
2       float64
3       float64
4       float64
         ...
7117    float64
7118    float64
7119    float64
7120    float64
7121    float64
Length: 7122, dtype: object

e:\anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

# Linear Regression
lr = LinearRegression()
lr.fit(X_train, y_train)
lr_predictions = lr.predict(X_test)
lr_rmse = np.sqrt(mean_squared_error(y_test, lr_predictions))

# Random Forest Regression
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
rf_predictions = rf.predict(X_test)
rf_rmse = np.sqrt(mean_squared_error(y_test, rf_predictions))

print(f"Linear Regression RMSE: {lr_rmse}")
print(f"Random Forest Regression RMSE: {rf_rmse}")

Linear Regression RMSE: 39466.4547355237
Random Forest Regression RMSE: 41432.78024822319